body {
  width: 80%;
  margin: 2em auto 0 auto;
}
.imageSection{
  column-count: 3;
}
.image{
  width: 100%;
}
.loadingImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 30%;
}